<div class="logo">
	<a href="/admin" class="simple-text logo-normal">
	  Навигация
	</a>
</div>
<div class="sidebar-wrapper">
	<ul class="nav">
	  	<li class="nav-item">
			<a class="nav-link" href="/admin/tasks">
				<p>Задачи</p>
			</a>
	  	</li>
		<li class="nav-item ">
			<a class="nav-link" href="/admin/users">
				<p>Пользователи</p>
			</a>
		</li>
	</ul>
</div>
